*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --primary-bg-color: #b0cdff;
    --secondary-bg-color: #b0cdff;
    --dark:#0c58a3;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
 
   background-color:#ffffff;
}
.header{
    position: fixed;
    height: 15vh;
    width: 100vw;
    padding: 0px 40px;
  
    left: 0;
    top: 0;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{ 
    width: 100px;
    height:
     100px;
}
.menu{
    width: 50%;
}
.nav-links{   
    display: flex;
    list-style: none;   
    padding: 0% 20% 0% 20%;
    gap: 10%;
}
.nav-links a{
    text-decoration: none;
    color: var(--dark);
    
}
#profile{
    width: 80px;
    height: 80px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart-btn{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--primary-bg-color);
    border: none;
    font: optional;
}
#search{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--primary-bg-color);
    border: none;
    font: optional;
    padding-left: 15px;
}
button:hover{
    cursor: pointer;
}
li:hover{
    transform: scale(1.2);
    cursor: pointer;
}




.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    bottom:0;
    width: 100vw;
    margin-top: 15vh;
    height: 85vh;
    
    
}
.left{
    height:65vh;
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.shoe{
    width: 90%;
    height: 80%;
    background-color: var(--secondary-bg-color);
    border-radius: 20px;
}

.right{
    height: 65vh;
    
    align-items: center;
    justify-content: center;
    text-align: left;
    padding:08% 10% 0% 0%;
}
.buttom {
    grid-column: span 2 / span 2;
    height: 20vh;
    bottom: 0;
    display: flex;
    justify-content: left;
    padding: 10px 40px ;
    gap: 10%;
    overflow-x: auto;
    

}
.shoe1{
    padding: 10px;
    background-color: var(--secondary-bg-color);
    border-radius: 20px;

}
.pricing{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 2%;
    gap:5%;
}       
.tax{
    display: grid;
} 
.pricing h1{
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border-radius: 8px;
    color: var(--dark);
    
} 
.cart-view{
    
    display: flex;
    align-items: center;
    gap : 5%;
    
}
select{

    margin-top: 5%;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    border: none;
     border-radius: 10px;
}
.cart-btn2{
    margin-top: 5%;
    padding: 10px;
    background-color: var(--primary-bg-color);
    border: none;
    border-radius: 10px;
    
}


@media (max-width: 1000px) {
    .nav-links{
        gap: 5px;
    }

}
@media (max-width: 800px) 
{
    .nav-links{
        display: none;
    }
    .main{
        display: block;
    }
    .right{
        padding-left: 40px;
        height: auto;
    }
    .left{
        height: auto;
    }
    .buttom{
        height: 20vh;
    }

}